<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% extends 'base.html' %}

{% block body %}

	<!-- Products -->
	<div class="total-ads main-grid-border">
		<div class="container">

			<div class="all-categories" style="margin-top: 20px">
				<h3> Select your category and find the perfect ad</h3>
				<ul class="all-cat-list">
                    {% for category in category_list %}
					    <li><a href="{% url 'product:product_list_category' category.slug %}">{{ category.category_name }} <span class="num-of-ads">({{ category.total_count }})</span></a></li>
					{% endfor %}
				</ul>
			</div>
			<ol class="breadcrumb" style="margin-bottom: 5px;">
			  <li><a href="/">Home</a></li>
                <li class="active"><a href="{% url 'products:product_list' %}"> All Ads </a></li>
              {% if category %}
              <li class="active">{{category}}</li>
              {% endif %}
			</ol>
			<div class="ads-grid">
				<div class="side-bar col-md-3">
					<div class="search-hotel">
					<h3 class="sear-head">Search</h3>
					<form method="GET" action="{% url 'product:product_list' %}">
						<input type="text" name="q" placeholder="Product name...">
						<input type="submit" value=" ">
					</form>
				</div>

				</div>
				<div class="ads-display col-md-9">
					<div class="wrapper">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

					  <div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
						   <div>
												<div id="container">


								<div class="clearfix"></div>
							<ul class="list">

                                {% for product in product_list %}

								<a href="{% url 'product:product_detail' product.slug %}">
									<li>
									<img src="{{ product.image.url }}" title="" alt="" />
									<section class="list-left">
									<h5 class="title">{{ product.name }}</h5>
									<span class="adprice">{{ product.price }}</span>
									<p class="catpath">Mobile Phones » {{ product.brand }}</p>
									</section>
									<section class="list-right">
									<span class="date">{{ product.created }}</span>
									<span class="cityname">City name</span>
									</section>
									<div class="clearfix"></div>
									</li>
								</a>

                                {% endfor %}

							</ul>
						</div>
							</div>
						</div>

                      {% if product_list.has_other_pages %}

                            <ul class="pagination pagination-sm">
                                {% if product_list.has_previous %}
                                    <li><a href="?page={{ product_list.previous_page_number }}">Prev</a></li>
                                {% else %}
                                    <li class="disabled"></li>
                                {% endif %}

                                {% for pages in product_list.paginator.page_range %}
                                    {% if product_list.number == pages %}
                                        <li><a href="#">{{ pages }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ pages }}">{{ pages }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if product_list.has_next %}
                                    <li><a href="?page={{ product_list.next_page_number }}">Next</a></li>
                                {% else %}
                                    <li class="disabled"></li>
                                {% endif %}
                            </ul>

                      {% endif %}
					  </div>
					</div>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- // Products -->

{% endblock body %}